<%- include('../includes/head.ejs') %>
	</head>

	<body class="about is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<!-- Menu -->
			<%- include('../includes/navigation.ejs') %>

      <!-- Main -->
      <div id="main">
        <article class="post">
          <header>
            <div class="title">
              <h2>О блоге</h2>
              <p>Познакомьтесь ближе с тем, что мы делаем</p>
            </div>
            <div class="meta">
              <time class="published" datetime="2025-07-11">11 июля 2025</time>
              <a href="#" class="author">
                <span class="name">Администрация</span>
                <img src="images/avatar.jpg" alt="avatar" />
              </a>
            </div>
          </header>

          <span class="image featured"><img src="images/pic01.jpg" alt="О блоге" /></span>

          <p>Этот блог создан для тех, кто любит вдохновляться, узнавать новое и делиться идеями. Здесь вы найдёте материалы о путешествиях, технологиях, дизайне, саморазвитии и многом другом.</p>

          <p>Мы стремимся к тому, чтобы каждый пост был полезным, интересным и красивым. Публикации создаются с душой и вниманием к деталям, будь то фотографии, текст или рекомендации.</p>

          <p>Присоединяйтесь к нашему сообществу, следите за обновлениями, делитесь мнением в комментариях и вдохновляйтесь вместе с нами!</p>
        </article>
      </div>

   


            	<%- include('../includes/end.ejs') %>